
body{
  font-family: 'Cinzel', serif;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.background {
  background-image: url('./images/landscape1.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

